<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Word Definitions</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css">
    <link href="/styles.css" rel="stylesheet" type="text/css"/>
    <link href="https://fonts.googleapis.com/css?family=Permanent+Marker" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Fredoka+One|Permanent+Marker" rel="stylesheet">
  </head>
  <body>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
