body{
  background-image: url("https://catesbooknuthut.files.wordpress.com/2013/07/bookworm-wallpaper__yvt2.jpg");
  background-size: 20em;
}
h1{
  font-family: 'Fredoka One', cursive;
  text-align: center
}
p{
  font-family: 'Fredoka One', cursive;
  font-size: 30px;
  text-align: center;
  color: #e07243
}
ul{
  font-family: 'Fredoka One', cursive;
  font-size: 20px;
  color:#e07243
}
label{
  font-family: 'Fredoka One', cursive;
}
.card{
  margin-top: 50px;
  margin-bottom: 50px;
  border-radius: 2em;
  background-color: #a8f3f7;
}
.card h3{
  font-family: 'Permanent Marker', cursive;
}
