body{
  background-image: url("https://catesbooknuthut.files.wordpress.com/2013/07/bookworm-wallpaper__yvt2.jpg");
  background-size: 20em;
}
h1{
  font-family: 'Fredoka One', cursive;
  text-align: center
}
p{
  font-family: 'Fredoka One', cursive;
  font-size: 30px;
  text-align: center;
}
ul{
  font-family: 'Fredoka One', cursive;
  font-size: 20px;
}

label{
  font-family: 'Fredoka One', cursive;
}
.card{
  margin-top: 50px;
  margin-bottom: 50px;
  border-radius: 2em;
  background-color: #a8f3f7;
  font-family: 'Fredoka One', cursive;
}
.card h3{
  font-family: 'Permanent Marker', cursive;
}
h4{
  text-align: center;
}
button{
  text-align:center;
}
.output{
  padding: 2em;
  font-family: 'Fredoka One', cursive;
}
.output h5{
  font-family: 'Permanent Marker', cursive;
}
